@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

svg {
  display: inline-block;
  vertical-align: middle;
}
.black{
  /* background-color: black; */
  width: 60%;
  height: 60%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

.container{
  width: 70%;
  margin: 0 auto;
}
.header{
  text-align: center;
  letter-spacing: 1.1rem;
  margin-top: 4rem;
}

.header h1{
  font-weight: 800;
}

.header h3{
  font-weight: 400;
  color: rgb(132, 132, 255);
}

.homeform{
  display: flexbox;
  width: 40%;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 600;
}

@media(max-width: 1040px){
  .homeform{
    width: 55%;
  }
  .black{
    /* background-color: black; */
    width: 60%;
    height: 60%;
  }
}

@media(max-width: 750px){
  .content{
    display: block!important;
  }
  .black{
    /* background-color: black; */
    width: 100%;
    height: 100%;
  }
  .homeform{
    width: 100%;
  }

  .content img{
    display: block;
    margin: 50px auto;
    text-align: center;
    max-width: 60%;
  }
}

@media(max-width: 405px){
  .homeform div input{
    padding: 0;
  }
  .black{
    /* background-color: black; */
    width: 100%;
    height: 100%;
  }
  .homeform{
    font-size: 1rem;
  }
}

.homeform input{
  padding: 5px;
}

.homeform div{
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
  padding: 5px;
  width: 100%;
}
.coloumn{
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  border-top: 1px solid #eee;
  padding-top: 20px;
}
/* .coloumn div{
  flex: 1;
} */

.homeform button{
  display: block;
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  background-color: rgb(154, 154, 255);
  color: white;
  margin: 10px auto;
}

.homeform label{
  padding-right: 20px;
}

input, select{
  border: none;
  border: 2px solid blue;
  border-radius: 10px;
}
select{
  width: 40%;
}
img{
  max-width: 40%;
}

.content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
}

.flexBox-courses{
  display: flex;
  flex-wrap: wrap;
}

.singlecourse{
  flex: 1;
  justify-content: center;
  padding-left: 10px;
  margin: 1.66%;
  float: center;
}

.product-card {
  width: 300px;
  position: relative;
  box-shadow: 0 2px 7px #dfdfdf;
  margin: 50px auto;
  background: #fafafa;
}

.product-card:hover {
  box-shadow: 2px 10px 20px #dfdfdf;
  margin: 50px auto;
  background: #f9f9f9;
}

.badge {
  position: absolute;
  left: 0;
  top: 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  background: rgb(255, 73, 73);
  color: #fff;
  padding: 3px 10px;
}

.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0f0f0;
}

.product-tumb img {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.product-details {
  padding: 30px;
}

.product-catagory {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 18px;
}

.product-details h4 a {
  font-weight: 500;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: #363636;
  text-decoration: none;
  transition: 0.3s;
}

.product-details h4 a:hover {
  color: #fbb72c;
}

.product-details p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 18px;
  color: #999;
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.product-bottom-details div {
  float: left;
  width: 50%;
}

.product-price {
  font-size: 18px;
  color: #fbb72c;
  font-weight: 600;
}

.product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}

.product-links {
  text-align: right;
}

.product-links a {
  display: inline-block;
  margin-left: 5px;
  color: #e1e1e1;
  transition: 0.3s;
  font-size: 17px;
}

.product-links a:hover {
  color: #fbb72c;
}

/*
.singlecourse h1,.price{
  margin: 10px auto;
  color: rgb(101, 101, 255);
  font-size: 1.2rem;
}

.singlecourse div,h1{
  width: 80%;
  margin: 10px auto;
  display: flex;
  justify-content: center;
}

.singlecourse div,.price{
  font-weight: 600;
  font-size: 1.05rem;
}
.date{
  margin-top: 20px;
  color: grey;
} */

.courseform{
  width: 100%;
  margin: 5rem auto;
  display: flexbox;
  justify-content: space-between;
}

.courseform div{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.courseform input,label{
  padding: 5px;
}

.courseform{
  font-size: 1.2rem;
  font-weight: 600;
}

@media(max-width: 920px){
  .courseform{
    width: 100%;
  }

  .singlecourse div input{
    margin: 0;
  }
}

@media(max-width: 870px){
  .singlecourse{
    width: 40%;
    margin: 5%;
    display: flexbox;
  }
}

@media(max-width: 610px){
  .singlecourse{
    width: 80%;
    margin: 10%;
    display: flexbox;
  }

  .container{
    width: 90%;
  }
}

@media(max-width: 440px){
  .courseform input,label{
    font-size: 0.9rem;
    font-weight: 400;
    padding: 0;
  }
}

.star{
  color: #F4E55D;
  font-size: 20px;
}
.coloumn{
  display: flex;
  flex-wrap: wrap;
}
.coloumn span{
  flex: 1;
}